# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
ENV/
env/
.env
.env.*

# Database
*.sqlite3
uploads/

# IDE files
*.idea/
.vscode/

# Log files
*.log

# Other
*.DS_Store  # For macOS
*.egg-info/

# Celery Beat
celerybeat-schedule*