# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
ENV/
env/
.env/

# Database
*.sqlite3

# IDE files
*.idea/
.vscode/

# Log files
*.log

# Other
*.DS_Store  # For macOS
*.egg-info/
